.ItemCounter {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.ItemCounterValue {
    width: 40px;
    margin: 0 10px;
    text-align: center;
}

.ItemCounterButton {
    width: 30px;
    padding: 7px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}