.CategoriesList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 627px;
    margin: 0 auto;
    padding: 23px 0;
}

.CategoriesListItem {
    font-size: 20px;
    text-transform: capitalize;
    cursor: pointer;

    &.Active {
        font-weight: 700;
        text-decoration: underline;
        color: #40BFFF;
    }
}