.nav-link {

    &.active {
        color: green;
    }
}

.NavBarIcons {
    display: flex;
}

.NavBarBagIcon {
    position: relative;
    width: 35px;
    height: 35px;
    padding: 3px;
}

.NavBarLoginIcon {
    margin-left: 20px;
}

.CardItemsCount {
    position: absolute;
    top: 20px;
    right: -15px;
    width: 20px;
    height: 20px;
    padding: 8px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    font-weight: 700;
}

.AuthBlock {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.AuthBlockDropDown {
    position: relative;
    border: 1px solid #000000;
    padding: 4px 60px 4px 8px;
}

.AuthBlockName{
    font-size: 18px;
    font-weight: bold;
}

.AuthBlockIcon{
    position: absolute;
    top: 50%;
    right: 6px;
    width: 25px;
    transform: translateY(-50%);
    cursor: pointer;
}

.AuthBlockDropDownInner {
    position: absolute;
    top: 38px;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;

    &.Open {
        max-height: 1000px;
    }
}
