.nav-link {

    &.active {
        color: green;
    }
}

.NavBarIcons {
    display: flex;
}

.NavBarBagIcon {
    position: relative;
    width: 35px;
    height: 35px;
    padding: 3px;
}

.NavBarLoginIcon {
    margin-left: 20px;
}

.CardItemsCount {
    position: absolute;
    top: 20px;
    right: -15px;
    width: 20px;
    height: 20px;
    padding: 8px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    font-weight: 700;
}