.ProductCradImage {

    img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        object-position: center;
    }
}

.ProductCardButton {
    display: flex;
    align-items: center;
}

.ProductCardTitle {
    p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        margin-top: 10px;
        min-height: 80px;
        max-height: 80px;
        font-size: 24px !important;
        text-transform: uppercase;
    }
}

.ProductMetaInfoLink {
    display: inline-block;
    font-size: 18px;
}

.ProductCardPrice {
    font-size: 24px;

    &.HasSale {
        text-decoration: line-through;
        color: #888888;
        font-size: 22px;
    }
}

.ProductCardSalePrice{
    font-size: 24px;
    color: #CC0000;
}
