.ProductCradImage {

    img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        object-position: center;
    }
}

.ProductCardButton {
    display: flex;
    align-items: center;
}

.ProductCardTitle {
    p {
        font-size: 24px !important;
    }
}

.ProductMetaInfoLink {
    display: inline-block;
    min-height: 84px;
    font-size: 18px;
}